.login-pop{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999999; 
}
.form-container{
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;

  position: relative;
  z-index: 10000;
}
.login-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-title img{
  width: 16px;
  cursor: pointer;
}

.login-input{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-input input{
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}
.login-pop button{
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor:pointer;
}
.login-condition{
  display: flex;
  align-items: start;
  gap:8px;
  margin-top: -15px;
}
.login-condition input{
  margin-top: 5px;
}
.login-pop p span{
  color: tomato;
  font-weight: 500;
  cursor:pointer;
}

@keyframes fade-in {
  to { opacity: 1; transform: scale(1); }
}
.animate-fade-in { animation: fade-in 0.3s forwards; }